---
import { Image } from 'astro:assets';
import Section from '@/components/Section.astro';
import { getI18N } from '@/i18n/index';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const iconPath = `https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/`;

const TAGS = {
	NEXT: {
		name: 'Next.js',
		class: 'bg-black text-white',
		icon: iconPath + 'nextjs/nextjs-original.svg',
	},
	TAILWIND: {
		name: 'Tailwind CSS',
		class: 'bg-[#003159] text-white',
		icon: iconPath + 'tailwindcss/tailwindcss-original.svg',
	},
	SUPABASE: {
		name: 'supabase',
		class: 'bg-[#003159] text-white',
		icon: iconPath + 'supabase/supabase-original.svg',
	},
	VITEJS: {
		name: 'Vite.js',
		class: 'bg-[#6b8ff6] text-white',
		icon: iconPath + 'vitejs/vitejs-original.svg',
	},
	REACTJS: {
		name: 'React.js',
		class: 'bg-black text-white',
		icon: iconPath + 'react/react-original.svg',
	},
};
const PROJECTS = [
	{
		title: i18n.PROJECTS.ECOTOUR.TITLE,
		description: i18n.PROJECTS.ECOTOUR.DESCRIPTION,
		link: 'https://eco-tour-nica.vercel.app/es',
		image: '/projects/ecotournica.webp',
		tags: [TAGS.NEXT, TAGS.TAILWIND, TAGS.SUPABASE],
	},
	{
		title: i18n.PROJECTS.MOVIEAPP.TITLE,
		description: i18n.PROJECTS.MOVIEAPP.DESCRIPTION,
		link: 'https://the-movie-app-b.vercel.app/',
		image: '/projects/movie-app.webp',
		github: 'https://github.com/moises717/TheMovieApp',
		tags: [TAGS.VITEJS, TAGS.REACTJS, TAGS.TAILWIND],
	},
];
---

<Section title={i18n.PROJECTS.TITLE} id='projects'>
	<div class='flex flex-col gap-y-16'>
		{
			PROJECTS.map(({ image, title, description, tags, link, github }) => (
				<article class='flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0'>
					<div class='w-full md:w-1/2'>
						<div class='relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50'>
							<img
								alt={title}
								class='object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105'
								loading='lazy'
								src={image}
								height='224'
								width={400}
							/>
						</div>
					</div>

					<div class='w-full md:w-1/2 md:max-w-lg'>
						<h3 class='text-2xl font-bold text-gray-800 dark:text-gray-100'>{title}</h3>
						<div class='flex flex-wrap mt-2'>
							<ul class='flex flex-row mb-2 gap-x-2'>
								{tags.map(tag => (
									<li>
										<span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}>
											<Image src={tag.icon} loading='eager' class='size-4' width={16} height={16} alt={`${tag.name} icono`} />
											{tag.name}
										</span>
									</li>
								))}
							</ul>

							<div class='mt-2 text-gray-700 dark:text-gray-400'>{description}</div>
							<footer class='flex items-end justify-start mt-4 gap-x-4'>
								{github && (
									<a
										href={github}
										role='link'
										class='px-4 py-2 inline-flex justify-center items-center gap-3 rounded-xl border border-neutral-600 text-neutral-700 bg-white hover:bg-gray-100 dark:bg-gray-800 dark:text-white/80 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:text-white/80 dark:hover:border-gray-700'
										role='link'
									>
										Github
									</a>
								)}
								{link && (
									<a
										href={link}
										role='link'
										class='px-4 py-2 inline-flex justify-center items-center gap-3 rounded-xl border border-neutral-600 text-neutral-700 bg-white hover:bg-gray-100 dark:bg-gray-800 dark:text-white/80 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:text-white/80 dark:hover:border-gray-700'
										role='link'
									>
										Ver proyecto
									</a>
								)}
							</footer>
						</div>
					</div>
				</article>
			))
		}
	</div>
</Section>
